.page-height{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.top-bar{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: rgb(224, 224, 224);
    position: relative;
    bottom: auto;
    left: 0px;
    color: white;
}